@page
@model NorthwindWeb.Pages.ViewCustomers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Northwind Console</title>
    </head>
    <body>
        <h1>Northwind Console</h1>
        <h2>Viewing Database</h2>
        <h3>@Model.DbName</h3>
    </body>
</html>